body {
  background-color: #000;
  font-family: 'PT Sans', sans-serif;
  min-height: 100vh;
}

.container {
  width: 80%;
  padding: 0;
}

/* Navbar */

.navbar {
  font-weight: bold;
  background-color: #00050d;
  font-size: 1.1rem;
  padding: 0;
}

.navbar-collapse {
  width: 40%;
}

.user-icon {
  width: 2.5em;
  height: 2.5em;
}

.search-icon {
  width: 1.5em;
  height: 1.5em;
}

.name-of-user {
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-link {
  font-weight: normal;
}

.nav-link:hover {
  background-color: #2d3436;
}

#active {
  border-bottom: 4px solid #fff;
}

/* Spotlight */

.poster {
  height: 70vh;
  object-fit: cover;
  border-radius: 1rem;
}

.carousel {
  margin: 0 4rem;
}

.poster-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
  z-index: 1 !important;
}

.carousel-indicators>button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 50%;
}

.item-desc {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
}

.item-title {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background: rgba(27, 30, 33, 0.8);
}

.iw-prime {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  word-spacing: 2px;
  margin-top: 3rem;
}

.item-button-group {
  margin-top: 1rem;
  cursor: pointer;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
  font-size: 2rem;
}

.play-button:hover {
  transform: scale(1.1);
}

.play-text {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1.75rem;
}

.watchlist-button {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #fff;
  margin-left: 1rem;
  background-color: rgba(128, 128, 128, 0.6);
}

.details-button {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  background-color: rgba(128, 128, 128, 0.6);
}

.watchlist-button:hover,
.details-button:hover {
  background-color: #fff;
  color: #000;
}

/* Movies */

.movie-carousel>.carousel-indicators {
  display: none;
}

.movie-carousel {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.movie-carousel>.carousel-inner {
  padding: .5rem 0;
}

.movie-carousel .carousel-control-next {
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.movie-carousel .carousel-control-prev {
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.movie-col {
  cursor: pointer;
  padding: 0;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  width: 15rem;
  height: 10rem;
  transition: all 0.3s ease-out;
  align-items: center;
  display: flex;
}


.movie-col:hover {
  transform: scale(1.2);
  position: relative;
  z-index: 1;
}

.movie-col>a>img {
  border-radius: 1rem;
  width: 224px !important;
  height: 126px !important;
  object-fit: cover;
}

.text-container {
  margin-left: 6rem;
}

.movies-text {
  font-size: 1.5rem;
  letter-spacing: 0.35px;
  font-weight: bold;
}

.prime-text {
  color: #00d1ff;
}

.title-text {
  color: #fff;
}

/* Movie Details */

.movie-details {
  min-height: calc(100vh - 120px);
  position: relative;
}

.movie-details-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details-desc {
  margin: 1rem 5rem;
  width: 33%;
  height: 50%;
  overflow: auto;
  z-index: 2;
}

.movie-details-title {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.75rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background: rgba(27, 30, 33, 0.8);
}

.movie-details-about {
  width: 100%;
  height: 50%;
  text-align: center;
  color: #000;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background: rgba(154, 163, 172, 0.95);
}

.movie-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
  z-index: 1 !important;
}

.movie-details-button-group {
  position: relative;
  z-index: 3;
  color: #000;
  margin-top: 1rem;
  cursor: pointer;
}

/* Footer */

.footer {
  margin: auto 0;
  background-color: #000;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 1);
  width: 100%;
}

.footer-text {
  color: #fff !important;
  text-decoration: none !important;
}

.flickity-enabled {
  left: 0 !important;
}

@media (min-width: 769px) and (max-width: 992px) {
  .swiper-slidex {
    width: 30%;
  }

  .swiper-slidex>img {
    border-radius: 1rem;
    width: 12.375rem;
    max-height: 6.9375rem !important;
    object-fit: cover !important;
  }

  .flickity-button {
    display: none !important;
  }

  .flickity-page-dots {
    display: none !important;
  }

}

@media (max-width: 768px) {
  .container {
    width: 90%;
    justify-content: space-around;
  }

  .navbar {
    font-weight: normal;
  }
  

  .navbar-toggler {
    padding: 0 !important;
    font-size: 1.5rem;
    text-align: left;
  }

  .name-of-user {
    display: none;
  }

  .navbar-collapse {
    order: 3 !important;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    color: #000;
  }

  .navbar-text {
    font-size: 1.25rem;
  }

  .poster {
    max-height: 10.9375rem
  }

  .carousel {
    margin: 0 2rem;
  }

  .carousel-indicators>button {
    width: 0.3rem !important;
    height: 0.3rem !important;
    border-radius: 50%;
  }

  .swiper {
    margin-left: 1rem !important;
    display: none;
    margin-right: 0.3rem !important;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }

  .text-container {
    margin-left: 1rem;
  }

  .movies-text {
    font-size: 1.15rem;
    letter-spacing: 0.35px;
  }

  .movie-col:hover {
    transform: scale(1.0);
  }

  .swiper-slide {
    margin: 0 0.35rem;
  }

  .movie-col>img {
    border-radius: 1rem;
    width: 12.375rem !important;
    max-height: 6.9375rem !important;
    object-fit: cover !important;
  }

  .play-button:hover {
    transform: none;
  }

  /* Demo Test */
  .swiper-slidex {
    width: 15rem;
    display: flex;
    justify-content: center;
  }

  .swiper-slidex>img {
    margin-right: 10px;
    border-radius: 1rem;
    width: 12.375rem;
    max-height: 6.9375rem !important;
    object-fit: cover !important;
  }

  .flickity-button {
    display: none !important;
  }

  .flickity-page-dots {
    display: none !important;
  }

  .movie-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .movie-details-img {
    position: relative;
    width: 100%;
    height: 30vh;
    object-fit: contain;
  }

  .movie-details-desc {
    margin: 1rem 0;
    width: 100%;
    height: 50%;
  }

  .movie-details-title {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.75rem;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    background: rgba(27, 30, 33, 0.8);
  }

  .movie-details-about {
    background-color: #000;
    width: 100%;
    height: 50%;
    text-align: center;
    color: #000;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    color: #fff;
  }

  .movie-details-desc>.iw-prime {
    margin-left: 2rem ;
  }

  .movie-details-button-group {
    justify-content: center !important;
    color: #000;
  }

  .outlet{
    margin-bottom: 2rem;
  }

}