body {
  background-color: #000;
}

.container {
  width: 60%;
  padding: 0;
}

.navbar {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  background-color: #00050d;
  font-size: 1.1rem;
  padding: 0;
}

.user-icon {
  width: 2.5em;
  height: 2.5em;
}

.search-icon {
  width: 1.5em;
  height: 1.5em;
}

.name-of-user {
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-link:hover {
  background-color: #2d3436;
}

#active {
  border-bottom: 4px solid #fff;
}



@media (max-width: 768px) {
  .container {
    width: 90%;
    justify-content: space-around;
  }

  .navbar {
    font-weight: normal;
  }

  .navbar-toggler {
    margin-right: 0;
    padding-left: 0;
    padding-right: 1rem;
    font-size: 1.5rem;
    text-align: left;
  }

  .name-of-user {
    display: none;
  }

  .navbar-collapse {
    order: 3 !important;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    color: #000;
  }

  .navbar-text {
    font-size: 1.25rem;
  }
}