body {
  background-color: #000;
  font-family: 'PT Sans', sans-serif;
}

.container {
  width: 60%;
  padding: 0;
}

/* Navbar */

.navbar {
  font-weight: bold;
  background-color: #00050d;
  font-size: 1.1rem;
  padding: 0;
}

.user-icon {
  width: 2.5em;
  height: 2.5em;
}

.search-icon {
  width: 1.5em;
  height: 1.5em;
}

.name-of-user {
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-link {
  font-weight: normal;
}

.nav-link:hover {
  background-color: #2d3436;
}

#active {
  border-bottom: 4px solid #fff;
}

/* Spotlight */

.poster {
  height: 65vh;
  object-fit: cover;
  border-radius: 1rem;
}

.carousel {
  margin: 0 4rem;
}

.poster-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
  z-index: 1 !important;
}

.carousel-indicators>button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 50%;
}

.item-desc {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
}

.item-title {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background: rgba(27, 30, 33, 0.8);
}

.iw-prime {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  word-spacing: 2px;
  margin-top: 3rem;
}

.item-button-group {
  margin-top: 1rem;
  cursor: pointer;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
  font-size: 2rem;
}

.play-button:hover {
  transform: scale(1.1);
}

.play-text {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1.75rem;
}

.watchlist-button {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #fff;
  margin-left: 1rem;
  background-color: rgba(128, 128, 128, 0.6);
}

.details-button {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  background-color: rgba(128, 128, 128, 0.6);
}

.watchlist-button:hover,
.details-button:hover {
  background-color: #fff;
  color: #000;
}

/* Movies */

.movie-carousel > .carousel-indicators{
  display: none;
}

.movie-carousel-item {
  width: 20% !important;
  height: 300px !important;
  float: left !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.movie-carousel-item img {
  max-height: 100% !important;
  max-width: 100% !important;
  margin: auto !important;
}

.movie-carousel{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.movie-col > img {
  border-radius: 1rem;
}


@media (max-width: 768px) {
  .container {
    width: 90%;
    justify-content: space-around;
  }

  .navbar {
    font-weight: normal;
  }

  .navbar-toggler {
    margin-right: 0;
    padding-left: 0;
    padding-right: 1rem;
    font-size: 1.5rem;
    text-align: left;
  }

  .name-of-user {
    display: none;
  }

  .navbar-collapse {
    order: 3 !important;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    color: #000;
  }

  .navbar-text {
    font-size: 1.25rem;
  }

  .poster {
    height: 30%;
  }

  .carousel {
    margin: 0 2rem;
  }

  .carousel-indicators>button {
    width: 0.3rem !important;
    height: 0.3rem !important;
    border-radius: 50%;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
}